<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      Fleet Name: {{$ctrl.fleet.name}} ({{$ctrl.fleet.race}})
    </h4>
  </div>
  <div class="panel-body">
    <b><i><u>Fleet description &amp; notes go here.</u></i></b>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Unit</th>
        <th>Max SH</th>
        <th>Cur SH</th>
        <th>Max HL</th>
        <th>Cur HL</th>
        <th>Attacks</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody ng-if="$ctrl.markup == 'false'">
      <tr ng-repeat="unit in $ctrl.fleet.units track by $index">
        <td class="col-md-2">{{unit.name}}</td>
        <td class="col-md-1">{{unit.shMax}}</td>
        <td class="col-md-1">{{unit.shCur}}</td>
        <td class="col-md-1">{{unit.hlMax}}</td>
        <td class="col-md-1">{{unit.hlCur}}</td>
        <td class="col-md-3">{{$ctrl.unit.attackString(unit)}}</td>
        <td class="col-md-3">{{$ctrl.unit.tagString(unit)}}</td>
      </tr>
    </tbody>
    <tbody ng-if="$ctrl.markup == 'true'">
      <tr ng-repeat="unit in $ctrl.fleet.units track by $index" ng-class="{danger: unit.hlCur == 0, warning: unit.hlCur < unit.hlMax && unit.hlCur > 0, info: unit.shCur < unit.shMax, success: unit.shCur == unit.shMax}">
        <td class="col-md-2">{{unit.name}}</td>
        <td class="col-md-1">{{unit.shMax}}</td>
        <td class="col-md-1">{{unit.shCur}}</td>
        <td class="col-md-1">{{unit.hlMax}}</td>
        <td class="col-md-1">{{unit.hlCur}}</td>
        <td class="col-md-3">{{$ctrl.unit.attackString(unit)}}</td>
        <td class="col-md-3">{{$ctrl.unit.tagString(unit)}}</td>
      </tr>
    </tbody>
  </table>
</div>
