<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Simulation Engine</div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label" for="maxTurns">Max Turns</label>
          <input class="form-control" name="maxTurns" type="number" ng-model="$ctrl.ui.maxTurns" />
        </div>
        <div class="btn-group btn-group-justified">
          <a class="btn btn-default" ng-click="$ctrl.setup()">Setup</a>
          <a class="btn btn-default" ng-click="$ctrl.round()">One Round</a>
          <a class="btn btn-default" ng-click="$ctrl.run()">Fight</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Results</div>
      <div class="panel-body">
        <ul uib-pagination total-items="$ctrl.simulation.turns.length" items-per-page="1" ng-model="$ctrl.ui.currentPage" ng-change="$ctrl.changeTurn()"></ul>
      </div>
      <div class="panel-body">
        Fleet Name: {{$ctrl.lastState.attackers.name}} ({{$ctrl.lastState.attackers.race}})
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Unit</th>
            <th>Max SH</th>
            <th>Cur SH</th>
            <th>Max HL</th>
            <th>Cur HL</th>
            <th>Brackets</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="attacker in $ctrl.ui.currentTurn.attackers.units track by $index" ng-class="{danger: attacker.hlCur == 0, warning: attacker.hlCur < attacker.hlMax && attacker.hlCur > 0, info: attacker.shCur < attacker.shMax, success: attacker.shCur == attacker.shMax}">
            <td>{{attacker.name}}</td>
            <td>{{attacker.shMax}}</td>
            <td>{{attacker.shCur}}</td>
            <td>{{attacker.hlMax}}</td>
            <td>{{attacker.hlCur}}</td>
            <td>{{$ctrl.unit.attackString(attacker)}}</td>
            <td>{{$ctrl.unit.tagString(attacker)}}</td>
          </tr>
        </tbody>
      </table>
      <div class="panel-body">
        Fleet Name:
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Unit</th>
            <th>Max SH</th>
            <th>Cur SH</th>
            <th>Max HL</th>
            <th>Cur HL</th>
            <th>Brackets</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="defender in $ctrl.ui.currentTurn.defenders.units track by $index" ng-class="{danger: defender.hlCur == 0, warning: defender.hlCur < defender.hlMax && defender.hlCur > 0, info: defender.shCur < defender.shMax, success: defender.shCur == defender.shMax}">
            <td>{{defender.name}}</td>
            <td>{{defender.shMax}}</td>
            <td>{{defender.shCur}}</td>
            <td>{{defender.hlMax}}</td>
            <td>{{defender.hlCur}}</td>
            <th>{{$ctrl.unit.attackString(defender)}}</th>
            <th>{{$ctrl.unit.tagString(defender)}}</th>
          </tr>
        </tbody>
      </table>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="event in $ctrl.ui.currentTurn.events track by $index">{{event.msg}}</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default" ng-click="$ctrl.toggleView('sim')">
      <div class="panel-heading">Simulation Object</div>
      <div class="panel-body" ng-show="$ctrl.ui.sim">
        <pre>{{$ctrl.simulation | json}}</pre>
      </div>
    </div>
  </div>
</div>
