<div class="panel panel-default">
  <div class="panel-heading">{{$ctrl.simulation.name}} <span class="label pull-right" ng-class="{'label-danger': $ctrl.simulation.status=='Error','label-warning': ($ctrl.simulation.status == 'Running' || $ctrl.simulation.status== 'Waiting'),'label-info': $ctrl.simulation.status == 'Pending','label-success': $ctrl.simulation.status == 'Finished'}">{{$ctrl.simulation.status}}</span></div>
  <div class="panel-body">
    <div uib-alert class="alert alert-info" ng-if="$ctrl.simulation.longRange">This simulation contains units with long-range weapons.</div>
  </div>
  <ber-fleet-info-list fleets="$ctrl.simulation.fleets"></ber-fleet-info-list>
  <div class="panel-body">
    <div class="btn-group btn-group-justified">
      <a class="btn btn-primary" ng-click="$ctrl.initialize()">Initialize</a>
      <a class="btn btn-default" ng-click="$ctrl.round()">One Round</a>
      <a class="btn btn-default" ng-click="$ctrl.run()">Fight</a>
      <a class="btn btn-default" ng-click="$ctrl.results()">Results</a>
      <a class="btn btn-danger" ng-click="$ctrl.delete()">Remove</a>
    </div>
  </div>
  <div class="panel-footer"></div>
</div>
