<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Simulation Engine</div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label" for="simName">Simulation Name</label>
          <input class="form-control" name="simName" type="text" ng-model="$ctrl.ui.simulationName" />
        </div>
        <div class="form-group">
          <label class="control-label" for="maxTurns">Max Turns</label>
          <input class="form-control" name="maxTurns" type="number" ng-model="$ctrl.ui.maxTurns" />
        </div>
        <div class="form-group">
          <label class="control-label" for="fleetsAttacker">Attacker</label>
          <select class="form-control" name="fleetsAttacker" ng-model="$ctrl.ui.attacker" ng-options="fleet.uuid as fleet.label for fleet in $ctrl.fleets track by fleet.uuid"></select>
        </div>
        <div class="form-group">
          <label class="control-label" for="fleetsDefender">Defender</label>
          <select class="form-control" name="fleetsDefender" ng-model="$ctrl.ui.defender" ng-options="fleet.uuid as fleet.label for fleet in $ctrl.fleets track by fleet.uuid"></select>
        </div>
        <div class="btn-group btn-group-justified">
          <a class="btn btn-default" ng-click="$ctrl.setup()">Setup</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Simulations</div>
      <div class="panel-body">
        <ber-simulation-control ng-repeat="simulation in $ctrl.simulations" simulation="simulation"></ber-simulation-control>
      </div>
    </div>
  </div>
</div>
