<div class="row">
  <h1 class="col-xs-12">Welcome to BattleEngine Reborn</h1>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <p>BattleEngine Reborn is an implementation of the original BattleEngine for FOTS in JavaScript.</p>
      <p>
        Todo List:
        <ul>
          <li>Tags
            <ul>
              <li>REGEN</li>
              <li>HEAT</li>
              <li>MESON</li>
              <li>VIBRO</li>
              <li>DIS</li>
              <li>CRACK</li>
              <li>LOW</li>
              <li>DRIFTING</li>
              <li>FLAK</li>
              <li>CRIPPLE</li>
              <li>CREW</li>
              <li>GLOBAL</li>
              <li>ORBITAL</li>
              <li>CARRIER</li>
              <li>PD</li>
              <li>PEN</li>
              <li>ROF</li>
              <li>SHOTS</li>
              <li>SOLID</li>
              <li>STASIS</li>
              <li>SUICIDE</li>
              <li>CLOAK</li>
              <li>SURPRISE</li>
              <li>VEHICLE</li>
              <li>VOLATILE</li>
            </ul>
          </li>
          <li>Results Export</li>
            <ul>
              <li>Fled File</li>
              <li>Survived File</li>
              <li>Destroyed File</li>
              <li>Battle Report</li>
            </ul>
          <li>Simulation Export</li>
          <li>Simulation Import</li>
          <li>Fleet Edit</li>
          <li>Fleet Export</li>
          <li>Unit Roster Tool</li>
          <li>Fleet Creation Tool</li>
        </ul>
      </p>
    </div>
  </div>
</div>
