<div class="row">
  <div class="col-lg-12">
    <h3>Fleets</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-pills">
      <li ui-sref-active="active"><a ui-sref=".list">List</a></li>
      <li ui-sref-active="active" class="disabled"><a ui-sref=".create">Create</a></li>
      <li ui-sref-active="active"><a ui-sref=".import">Import</a></li>
      <li ui-sref-active="active" class="disabled"><a ui-sref=".export">Export</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <hr />
  </div>
</div>
<ui-view></ui-view>
