<div class="row">
  <div class="col-xs-12">
    <h4>Fleets Import</h4>
    <p>Here is where you import your attacking fleet and defending fleet.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="form">
        <div class="form-group">
          <div class="btn-group" uib-dropdown>
            <button class="btn btn-primary" type="button" ng-click="$ctrl.importFleetAndGo()"">Import</button>
            <button class="btn btn-primary" type="button" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li role="menuitem"><a ng-click="$ctrl.importFleet()" href="">Create &amp; Import Another</a></li>
            </ul>
          </div>
          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabed">
              Load Presets <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li role="menuitem"><a ng-click="$ctrl.loadAttackFleet()" href="">Attack Fleet</a></li>
              <li role="menuitem"><a ng-click="$ctrl.loadDefenseFleet()" href="">Defense Fleet</a></li>
              <li role="menuitem"><a ng-click="$ctrl.loadFighterFleet()" href="">Fighter Fleet</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="fleetFile">Fleet File</label>
          <textarea class="form-control" rows="20" name="fleetFile" ng-model="$ctrl.fleetFile"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
