<div uib-alert ng-repeat="alert in $ctrl.messages track by $index" ng-class="'alert-' + (alert.type || 'warning')" close="$ctrl.closeAlert($index)">{{alert.message}}</div>
<div class="panel panel-default">
  <div class="panel-heading">{{$ctrl.unit.id}}:{{$ctrl.unit.info.name}}</div>
  <div class="panel-body">
    <div class="well well-sm">
      <form class="form">
        <fieldset>
          <legend>General Information</legend>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">id</span>
              <input class="form-control" type="text" ng-model="$ctrl.unit.id" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">name</span>
              <input class="form-control" type="text" ng-model="$ctrl.unit.info.name" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">size</span>
              <input class="form-control" type="number" ng-model="$ctrl.unit.info.size" />
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Components</legend>
          <div class="form-group" ng-repeat="component in $ctrl.unit.components track by $index">
            <div class="input-group">
              <span class="input-group-addon">component {{$index}}</span>
              <input class="form-control" type="text" ng-model="component" />
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="$ctrl.deleteComponent($index)">-</button>
              </span>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Techs</legend>
          <div class="form-group" ng-repeat="tech in $ctrl.unit.techs track by $index">
            <div class="input-group">
              <span class="input-group-addon">tech {{$index}}</span>
              <input class="form-control" type="text" ng-model="tech" />
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="$ctrl.deleteTech($index)">-</button>
              </span>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Effects</legend>
          <div class="form-group" ng-repeat="effect in $ctrl.unit.effects track by $index">
            <div class="input-group">
              <span class="input-group-addon">effect {{$index}}</span>
              <input class="form-control" type="text" ng-model="effect" />
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="$ctrl.deleteEffect($index)">-</button>
              </span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="well well-sm">
      <button class="btn btn-default" type="button" ng-click="$ctrl.compile()">Compile</button>
      <pre>{{$ctrl.compiledUnit | json}}</pre>
    </div>
    <div class="well well-sm">
      <pre>{{$ctrl.unit | json}}</pre>
    </div>
  </div>
</div>
