{
  "root": true,
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "globals": {
    "console": "readonly",
    "_": "readonly",
    "require": "readonly",
  },
  "rules": {
    "semi": ["error","always"],
  }
}
