<div uib-alert ng-repeat="alert in $ctrl.messages track by $index" ng-class="'alert-' + (alert.type || 'warning')" close="$ctrl.closeAlert($index)" dismiss-on-timeout="{{alert.timeout || 5000}}">{{alert.message}}</div>
<div class="well well-sm">
  <form class="form" ng-submit="$ctrl.onNewAttribute(newAttribute)">
    <div class="form-group">
      <div class="btn-group btn-group-justified">
        <a class="btn btn-primary" ng-click="$ctrl.copyComponent();">Copy</a>
        <a class="btn btn-primary" ng-click="$ctrl.updateComponent();">Update</a>
        <a class="btn btn-danger" ng-click="$ctrl.deleteComponent();">Delete</a>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">New Attribute</span>
        <input class="form-control" type="text" name="newAttribute" ng-model="newAttribute" />
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Add</button>
        </span>
      </div>
    </div>
  </form>
</div>
<div class="well well-sm">
  <h4>{{$ctrl.component.id}}:{{$ctrl.component.label}}</h4>
  <form class="form">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">id</span>
        <input class="form-control" type="text" ng-model="$ctrl.component.id" />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">label</span>
        <input class="form-control" type="text" ng-model="$ctrl.component.label" />
      </div>
    </div>
    <div class="form-group" ng-repeat="attribute in $ctrl.component.attributes track by $index">
      <div class="input-group">
        <span class="input-group-addon">attribute {{$index}}</span>
        <input class="form-control" type="text" ng-model="attribute" ng-blur="$ctrl.updateAttribute($index,attribute)" />
        <span class="input-group-btn">
          <button class="btn btn-danger" type="button" ng-click="$ctrl.deleteAttribute($index)">Delete</button>
        </span>
      </div>
    </div>
  </form>
</div>
<div class="well well-sm">
  <pre>{{$ctrl.component | json}}</pre>
</div>
<div class="well well-sm">
  <pre>{{$ctrl.messages | json}}</pre>
</div>
