<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <h2>Developer Tools</h2>
      <p>These tools are designed to be used by the developer and/or advanced users.  Use at own risk.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-pills">
      <li ui-sref-active="active"><a ui-sref="devComponentBuilder">Component Builder</a></li>
      <li ui-sref-active="active"><a ui-sref="unitBuilder">Unit Builder</a></li>
      <li ui-sref-active="active"><a ui-sref="techBuilder">Tech Builder</a></li>
    </ul>
  </div>
</div>
<ui-view></ui-view>
