<h1>Standard FOTS Map Generation</h1>
<div class="row">
  <label class="control-label col-sm-1" for="seed">Seed</label>
  <div class="col-sm-10">
    <input class="form-control" id="seed" type="number" ng-model="$ctrl.seed" />
  </div>
</div>
<div class="row">
  <label class="control-label col-sm-1" for="coordx">X</label>
  <div class="col-sm-10">
    <input class="form-control" id="coordx" type="number" ng-model="$ctrl.coords.x" />
  </div>
</div>
<div class="row">
  <label class="control-label col-sm-1" for="coordy">Y</label>
  <div class="col-sm-10">
    <input class="form-control" id="coordy" type="number" ng-model="$ctrl.coords.y" />
  </div>
</div>
<div class="row">
  <label class="control-label col-sm-1" for="size">Size</label>
  <div class="col-sm-10">
    <input class="form-control" id="size" type="number" ng-model="$ctrl.size" />
  </div>
</div>
<div class="row">
  <button class="btn btn-primary" ng-click="$ctrl.generate()">Generate Map</button>
</div>
<div class="row">
  <h3>Standard Map</h3>
  <div class="pull-right">
    <pre>{{$ctrl.detailCell|json}}</pre>
  </div>
  <div class="map" ng-cloak>
    <div class="sectorRow" ng-repeat="sectorRow in $ctrl.sectors">
      <table class="sector" ng-cloak ng-repeat="sector in sectorRow">
        <tr ng-repeat="row in sector.sections track by $index">
          <td class="cell" ng-repeat="cell in row track by $index" ng-class="$ctrl.class(cell.text)" ng-mouseover="$ctrl.details(cell)">{{cell.text}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<h3>Hex-Grid Map</h3>
<div class="map">
  <div class="sectorRow" ng-repeat="row in $ctrl.sectors">
    <div class="sector" ng-repeat="sector in row">
      <mapgen-hexmap sector="sector"></mapgen-hexmap>
    </div>
  </div>
</div>
