<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand">Mobius App Project</a>
    </div>
    <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="welcome">Welcome <span class="sr-only">(current)</span></a></li>
        <li ui-sref-active="active"><a ui-sref="mapRoot">Map</a></li>
        <li ui-sref-active="active"><a ui-sref="engineRoot">CombatEngine</a></li>
      </ul>
  </nav>
</div>
<div class="container">
  <ui-view></ui-view>
</div>
