<div class="row">
  <div class="col-lg-12">
    <h2>{{$ctrl.simulation.name}} Results</h2>
    <div class="panel panel-info" ng-repeat="turn in $ctrl.simulation.turns track by $index">
      <div class="panel-heading"><h4>Turn {{$index}}</h4></div>
      <div class="panel-body">
        <div class="panel panel-default" ng-if="turn.events.length > 0">
          <div class="panel-heading" ng-click="$ctrl.toggleEvents($index)">Event Log</div>
          <div class="panel-body" ng-show="$ctrl.ui.turns[$index]">
          Filter: <input class="form-control" name="search" type="text" ng-model="search.$" />
          </div>
          <table class="table table-striped table-hover" ng-show="$ctrl.ui.turns[$index]">
            <thead>
              <tr>
                <!--<th class="col-sm-3">Actor</th>
                <th class="col-sm-3">Actee</th>
                <th class="col-sm-1">Type</th>-->
                <th>Message</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(id,event) in turn.events | filter:search track by id">
                <!--<td>{{event.actor}}</td>
                <td>{{event.actee}}</td>
                <td>{{event.type}}</td>-->
                <td>{{event.msg}}</td>
              </tr>
            </tbody>
          </table>
          <div class="panel-footer" ng-click="$ctrl.toggleEvents($index)">End of Event Log</div>
        </div>
        <div class="panel panel-default" ng-repeat="fleet in turn.fleets">
          <div class="panel-heading">Fleet: {{fleet.race}} - {{fleet.name}}</div>
          <div class="panel-body">
            <p>Active Ship Count: {{fleet.unitCount}}</p>
            <p>Fled Ship Count: {{fleet.fledCount}}</p>
            <p>Destroyed Ship Count: {{fleet.destroyedCount}}</p>
            <p>Current Hull: {{fleet.currentHull}}</p>
            <p>Max Hull: {{fleet.totalHull}}</p>
            <p>Damage Done: </p>
            <p>Damage Received: </p>
            <p>Repair Costs: </p>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Cur SH</th>
                <th>Max SH</th>
                <th>Cur HL</th>
                <th>Max HL</th>
                <th>Attacks</th>
                <th>Tags</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="unit in fleet.units">
                <td>{{unit.name}}</td>
                <td>{{unit.shCur}}</td>
                <td>{{unit.shMax}}</td>
                <td>{{unit.hlCur}}</td>
                <td>{{unit.hlMax}}</td>
                <td>{{$ctrl.unit.attackString(unit)}}</td>
                <td>{{$ctrl.unit.tagString(unit)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer">End Turn {{$index}}</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-danger">
      <div class="panel-heading" ng-click="$ctrl.toggleDebug()">Debug</div>
      <div class="panel-body" ng-show="$ctrl.ui.debug">
        <pre>{{$ctrl.simulation | json}}</pre>
      </div>
    </div>
  </div>
</div>
