<div class="row">
  <div class="col-lg-12">
    <div class="well">
      This is a list of simulations that have been setup and their statuses.  If there is no information below, create a simulation by clicking on the 'Setup' button above this box.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th><input name="selectAll" type="checkbox" ng-change="$ctrl.toggleSelectAll()" ng-model="$ctrl.ui.selectAll" /></th>
          <th>Name</th>
          <th>Status</th>
          <th>Turns</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="simulation in $ctrl.simulations" ng-click="$ctrl.goToSimulation(simulation.uuid)">
          <td><input name="select{{simulation.uuid}}" type="checkbox" ng-change="$ctrl.toggleSimulationCheck()" ng-model="$ctrl.ui.simulations[simulation.uuid]" /></td>
          <td>{{simulation.name}}</td>
          <td><span><span ng-class="{'text-danger': simulation.status=='Error','text-warning': (simulation.status == 'Running' || simulation.status== 'Waiting'),'text-info': simulation.status == 'Pending','text-success': simulation.status == 'Finished'}">{{simulation.status}}</span></span></td>
          <td><span class="badge">{{simulation.turns.length-1}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-12">
    <div class="form-group">
      <button class="btn btn-danger" type="button" ng-click="$ctrl.deleteSelected()">Delect Selected</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="well">
      <pre>{{$ctrl.ui | json}}</pre>
    </div>
  </div>
</div>
